{% extends 'base.html' %}

{% block content %}
	
{% if user.is_authenticated %}
<p> Hi {{user.username}} </p>
{% for post in posts %}
		<div class="post_entry">
			<h2 class="post_title">
				<a href="{% url 'post-detail' post.pk %}">{{post.title}}
<a href="{% url 'post-edit' post.pk %}"> Edit blog</a> <a href="{% url 'post-delete' post.pk %}"> Delete blog</a></a>
		</div>
	{%endfor%}
<a href="{% url 'post-new' %}"> create blog </a>  | <a href="{% url 'logout' %}"> Logout</a> 

{%endif%}
		
{% endblock %}